{% extends "base.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<body>
    <div>
        <h2>Policy Vote Landing</h2>
        <form action="/login" method="post">
            <input
                type="text"
                name="username"
                placeholder="Username"
                required
            />
            <input
                type="password"
                name="password"
                placeholder="Password"
                required
            />
            <button type="submit">Login</button>
        </form>
    </div>
</body>

{% endblock %}
