{% extends "base.html" %}

{% block content %}
    <div>
        {% for question in questions %}
        <div>
            <h3>{{ question[2] }}</h3>
            <form method="post" hx-post="/submit-answer">
                <input type="hidden" name="quest_id" value="{{ question[0] }}" />
                <button type="submit" name="answer_text" value="yea">Yea 👍</button>
                <button type="submit" name="answer_text" value="nay">Nay 👎</button>
            </form>
        </div>
        {% endfor %}
    </div>
{% endblock %}