{% extends "base.html" %}
{% block content %}
<h1>Recent Polls</h1>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Question Type</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
        {% for poll in recent_polls %}
        <tr>
            <td>{{ poll[1] }}</td>
            <td>{{ poll[2] }}</td>
            <td>{{ poll[3] }}</td>
            <td>{{ poll[4] }}</td>
            <td>{{ poll[5] }}</td>
            <td>
                            <button class="btn btn-primary"
                    hx-get="/edit-poll/{{ poll[0] }}"
                    hx-trigger="edit"
                    onClick="let editing = document.querySelector('.editing');
                             if (editing) {
                                 Swal.fire({
                                     title: 'Already Editing',
                                     showCancelButton: true,
                                     confirmButtonText: 'Yep, Edit This Row!',
                                     text: 'Hey! You are already editing a row! Do you want to cancel that edit and continue?'
                                 }).then((result) => {
                                     if (result.isConfirmed) {
                                         htmx.trigger(editing, 'cancel');
                                         htmx.trigger(this, 'edit');
                                     }
                                 });
                             } else {
                                 htmx.trigger(this, 'edit');
                             }">
                Edit
            </button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if latest_poll %}
<h2>Latest Poll</h2>
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Question Type</th>
        </tr>
    </thead>
    <tbody hx-target="closest tr" hx-swap="outerHTML">
        <tr>
            <td>{{ latest_poll[1] }}</td>
            <td>{{ latest_poll[2] }}</td>
            <td>{{ latest_poll[3] }}</td>
            <td>{{ latest_poll[4] }}</td>
            <td>{{ latest_poll[5] }}</td>
        </tr>
    </tbody>
</table>
{% endif %}
{% endblock %}